<div class="min-h-screen bg-gray-50/50">
  <!-- Sidebar que emite el evento viewChange -->
  <app-sidebar
    [currentView]="selectedView"
    (viewChange)="changeView($event)"
  ></app-sidebar>
  <div class="p-4 xl:ml-80">
    <nav
      class="block w-full max-w-full bg-transparent text-white shadow-none rounded-xl transition-all px-0 py-1"
    >
      <!-- Header -->
    </nav>
    <!-- Contenido Principal -->
    <div class="main-content">
      <div class="content">
        <div *ngIf="selectedView === 'estadistica'">
          <h2>Dashboard</h2>
        </div>
        <div *ngIf="selectedView === 'producto'">
          <h2>Productos</h2>
        </div>
      </div>
    </div>
  </div>
</div>
